* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sideNavbar {
    position: fixed;
    width: 250px;
    height: 100vh;
    margin-left: 0px;
    background-color: #3D3D3D;
    transition: all 0.3s ease-in-out;
    z-index: 9999
}
.removeNavbar {
    margin-left: -250px;
}
.sideNavbar .personTag {
    margin: 0 auto
}

.sideNavbar ul {
    overflow: hidden
}

.sideNavbar li {
    font-weight: 200;
    font-family: Arial;
    color: white;
    padding: 12px 0px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: solid 1px #D8D8D8;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}

.sideNavbar li:hover {
    color: white;
    padding-left: 10px;
}

.dlResume, .blog {
    width: 200px;
    height: 40px;
    border: 1px solid #D8D8D8;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    font-family: Arial;
    color: #FFFFFF;
    margin: 20px auto;
    line-height: 40px;
}

.dlResume:hover {
    background-color: white;
    color:#3D3D3D;
}

.blog:hover {
    background-color: white;
    color:#3D3D3D;
}

#page_container {
    position: absolute;
    width: 960px;
    left: 270px;
    overflow: hidden;
}

.person_description img {
    border: 1px outset #FB4668
}

.page_wrapper {
    background-color: white;
    margin: 70px auto 20px auto;
    border-top: solid 8px #FE4365
}

.copyright_information {
    color: #d8d8d8;
    text-align: center;
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 200;
    height: 40px
}

.page_det .title {
    font-size: 40px;
    color: #658B79;
    font-family: Arial;
    padding: 0;
    margin: 0
}

.page_det .subtitle {
    font-size: 20px;
    color: #FC6A85;
    font-family: Arial;
    border-bottom: 1px solid #91AFA1
}

.page_det .content {
    font-size: 18px;
    color: #91AFA1
}

.progressBar {
    width: 100%;
    height: 28px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
    margin: 20px 0;
    zoom: 1;
}
.progressBar:after {
    clear: both;
    content: '.';
    height: 0;
    width: 0;
    visibility: hidden;
}
.skill_name {
    float: left;
    width: 100%;
    font-size: 13px;
    padding: 5px 0;
    background-color: #FB4668;
    border-radius: 4px;
    color: white;
}

.skill_good {
    background-color: #769C8A
}

.skill_30 {
    width: 30%
}

.skill_40 {
    width: 40%
}

.skill_50 {
    width: 50%
}

.skill_60 {
    width: 60%
}

.skill_70 {
    width: 70%
}

.skill_80 {
    width: 80%
}

.skill_number {
    float: right;
    margin-right: 20px
}

.slideWrap {
    width: 200%;
    height: 190px;
    overflow: hidden;
}

.slideWrap li {
    float: left;
    width: 40%;
    height: 190px;
    border: 1px solid purple;
    background-color: #0F7F12;
    padding: 0px 10px;
    overflow: hidden;
}

.slideOne {

}

.slideTwo {

}
.pageNation ul {
    zoom: 1;  //兼容IE
}
.pageNation ul:after {
    clear: both;
    content: '.';
    display: block;
    width: 0px;
    height: 0px;
    visibility: hidden;
}
.pageNation li {
    float: left;
    padding: 10px;
}

.pageNation li:hover {
    background-color: #0F7F12;
}

.pageNation .pagePrev {
    width: 44px;
    height: 32px
}

.pageNation .pageNext {
    width: 44px;
    height: 32px
}
/*   carousel*/
.carousel {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.carousel .img-ct {
    position: absolute;
    height: 200px;
    width: 1200px;
}

.carousel .img-ct:after {
    content: '';
    display: block;
    clear: both;
}

.carousel .img-ct>li {
    float: left;
}

.carousel .img-ct img {
    width: 300px;
    height: 200px;
}

.carousel .btn {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    display: block;
}

.carousel .btn-pre {
    left: 10px;
}

.carousel .btn-next {
    right: 10px;
}

.carousel .bullet-ct {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel .bullet {
    display: inline-block;
}

.carousel .bullet:after {

}

.carousel .bullet>li {
    display: inline-block;
    width: 20px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin: 0 5px;
}

.carousel .bullet .active {
    background-color: #666;
}

/*   carousel------------------------------------------------end*/

.sendMSG input {display: block;margin: 10px 0px;background-color: #FD6788;text-align: left}
.sendMSG .name {width: 440px;height: 40px}
.sendMSG .email {width: 440px;height: 40px}
.sendMSG .message {width: 440px;height: 200px}
.sendMSG .submit {width: 440px;height: 40px;background-color: #C0D2C9}
.toggle_menu {position: fixed;padding: 15px 20px 15px 20px;margin-top: 70px;color: white;cursor: pointer;background-color: #0F7F12;z-index: 10000;font-size: 2em;opacity: 0}
.toggle_delete {position: absolute;right: 10px;top: 10px;opacity: 0.7;cursor: pointer;color: white;transition: all 0.3s ease-in-out;opacity: 0.6}
.toggle_delete:hover {opacity: 1}
.boxed-item {font-family: "Arial";font-weight: 200;padding: 10px 20px;border: 2px solid white;box-sizing: border-box;font-size: 22px;color: white;text-align: center;margin-top: 70px}
.logo_bold {font-weight: 800}
.swiper-container {width: 80%;height: 600px;margin: 0 auto}
.swiper-slide {background: url("http://ogtnnj4ck.bkt.clouddn.com/test.png") no-repeat center center;background-size: 100%}
